.container{ display : flex;
            justify-content : center;
            align-items: center;
            height: 500;
            width: full;
            text-align: center; 
        }
.main-heading{
    font-size: 60px;
    font-weight: 400;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#545554;
    margin-top: 60px;
    margin-bottom: 0%;
    line-height: 1;
}
h3{
    font-size: 80px;
    font-weight: 800;
    color:#545554;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.errmsg{
    height:20px;
    width:67%;
    background-color: #f64646;
    padding : 10px 1px;
    color: floralwhite;
    margin-left: 20px; 
    margin-bottom: 20px;
    border-radius: 25px;

}
.errNotVisble{
    height:20px;
    width:68%;
    
    padding : 10px 1px;
    color: floralwhite;
    margin-left: 20px; 
    margin-bottom: 20px;
}

.btn{
    border: none;
    padding: 15px 40px;
    font-size: 50px;
    margin-left: 20px;
    border-radius: 5px;
}
.dec-btn{
    background-color: #900909;
    color: floralwhite; 
}
.container .dec-btn:hover{
    background-color: #ba1616;
    cursor: pointer;
   
}

.inc-btn{
    background-color:#0755b6;
    color: floralwhite;
}
.container .inc-btn:hover{
    background-color: #064694;
    cursor: pointer;
   
}
.reset{
    background-color: gray;
    color: floralwhite;
}
.container .reset:hover{
    background-color: #727171;
    cursor: pointer;
   
}
